/node_modules
/public/
/vendor
.env
.env.backup
.phpunit.result.cache
phpcs.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/uploads
/storage/
docker-compose.override.yml
/.idea
/.vscode
/nbproject/private/
/update
copy.php
change-list.txt
.DS_Store
.htaccess

# Security
kuzza_export.sql
auth.json
config.json

storage/framework/views/*.php
